


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-color: rgb(241, 241, 241);
}



/* intestazione */

.head_logo_text {
    background-color: white;
}

.head_logo_text img {
    display: inline;
    padding: 5px;
    width: 60px;
    margin-left: 30px;
    vertical-align: middle;
}

.head_logo_text h1 {
    display: inline;
    font-size: 30px;
    font-weight: 100;
    font-weight: bold;
}

/* corpo */

.content {
    width: 50%;
    margin: 50px auto;
    background-color: white;
  
    border-radius: 10px;
}


/* section 1  */

.content_button {
    padding: 20px 0px 15px;
    margin-left: 50px;
}

.button {
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#button1 {
    background-color: rgb(0, 136, 248);
    color: white;
    border: 1px solid rgb(0, 136, 248); 
}

#button2 {
    background-color: white;
    color: rgb(185, 185, 185);
    border: 1.5px solid rgb(185, 185, 185);
}

hr {
    border: 1px solid rgb(241, 241, 241);
}



/* section 2  */

ul {
    list-style-type: none;
    margin: 50px 0px 0px 50px;
    padding-bottom: 40px;
}

.listV, .listX {
    padding: 10px 0px 10px 5px;
    font-size: 20px;
    
}

.listX::before {
    content: '\2717';
    color: red;
}

.listV::before {
    content: '\2714';
    color: green;
}

.button_list {
    vertical-align: middle;
    padding: 8px 15px;
    background-color: red;
    margin-left: 5px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}

/* colori button list */

.button_list_1 {
  background-color: rgb(0, 136, 248); 
}

.button_list_2 {
background-color: rgb(119, 0, 255);
}

.button_list_3 {
background-color: rgb(0, 128, 96);
}

.button_list_4 {
background-color: rgb(255, 174, 0);
}

.button_list_5 {
background-color: rgb(156, 67, 149);
}

.button_list_6 {
background-color: rgb(100, 128, 0);
}



